
h1{
    margin : 20px 20px 40px ; 
}

h1::before,
h1::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
h1::before {
  background-color: white;
  width: 120px;
}
h1::after {
  background-color: black;
  width: 40px;
}


.wrapper{
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media(max-width:767px){
  .wrapper{
    grid-template-columns: minmax(200px , 1fr);
    margin : 0px 10px 0px 10px ;
    gap :10px
  }
}

.card-head img {
  width:200px ; 
  margin-bottom: -10px;
}
.avatar{
  width: 64px;
  height: 64px;
  padding: 5px;
  border: 2px solid #eee;
  border-radius: 50%;
  margin-top: -32px;
  margin-left:20px;
  box-shadow: 0 0 5px #ddd;
  background-color: white;
}


@media (max-width:767px){
  .avatar {
    margin-left:0px;
  }
  .body >div:not(:last-child){
    margin-bottom: 20px;
  }
}


/* start body */
.body{
  border-top : 2px solid #eee ;

}
.body>div{
  flex:1; 
}



/*end body */