:root{
    --main-page-background:#f1f5f9 ;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* start-box */

.d-block{
    display:block
}
.d-flex{
    display: flex;
}

.align-center {
    align-items : center; 
}

.justify-center{
    justify-content: center;
}


.d-grid {
    display:grid ;
}

.gap-20{
    gap:20px ;
}


@media(max-width:767px){
    .block-mobile {
        display:block;
    }

    .hide-mobile{
        display:none;
    }
}
/* end-box */



/* start padding + margin */

.p-10{
    padding :10px
}

.p-15{
    padding:15px;
}
.p-20{
    padding:20px ; 
}

.m-0{
    margin:0px
}
.mt-0{
    margin-top: 0;
}

.mt-5{
    margin-top: 5px;
}

.mt-10{
margin-top:10px;
}

.mt-20{
    margin-top: 20px;
}

.ml-auto{
    margin-left:auto;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.m-20{
    margin:20px
}


/* End padding + margin */



/*start colors */
.bg-white{
 background-color: white;   
}

.bg-eee{
background: #eee;
}
.c-black{
    color: black;
}
.bg-blue {
    background-color: var(--blue-color);}

.c-grey {
    color:gray
}

.c-white {
color:white; 
}
/*end colors */




/*start position */
.p-relative{
    position:relative
}
/*end position */


/*start font */
.txt-c {
    text-align: center;
}

.fs-14{
    font-size: 14px;
}

.fw-500 {
    font-weight: 600;
}


@media(max-width:767px){
    .txt-c-mobile{
        text-align: center;
    }
}
/*end font */




/*start border */

.rad-6{
    border-radius: 6px;
}

.rad-10{
    border-radius: 10px;
}
/*end border*/


/*start width+height */
.w-full{
    width:100%
}
/*end width+height */



/* Start Copmonents */
.between-flex{
    display:flex ; 
    align-items: center;
    justify-content: space-between;
}
/* Start Copmonents */


/* start buttons */

.btn-shape {
    padding :6px 15px ; 
    border-radius: 6px;
}

/* end buttons */