:root{
    --main-page-background:#f1f5f9 ;
    --red-color: #f44336;
    --grey-color: #888;
}

/* start-box */
.d-flex{
    display: flex;
}

.align-center {
    align-items : center; 
}

.justify-center{
    justify-content: center;
}
/* end-box */



/* start padding + margin */

.p-10{
    padding :10px
}

.p-15{
    padding:15px;
}
.p-20{
    padding:20px ; 
}

.m-20{
    margin:20px
}

.mt-0{
    margin-top: 0;
}
/* End padding + margin */



/*start colors */
.bg-white{
 background-color: white;   
}

.c-black{
    color: black;
}
/*end colors */




/*start position */
.p-relative{
    position:relative
}
/*end position */


/*start font */
.txt-c {
    text-align: center;
}

.fs-14{
    font-size: 14px;
}
/*end font */




/*start border */

.rad-6{
    border-radius: 6px;
}
/*end border*/


/*start width+height */
.w-full{
    width:100%
}
/*end width+height */



/* Start Copmonents */
.between-flex{
    display:flex ; 
    align-items: center;
    justify-content: space-between;
}
/* Start Copmonents */